{{#if nav.leftButtonText}}
  <button {{action 'leftButton'}}>
    {{#if nav.leftButtonIcon}}
      <i {{bind-attr class=":icon nav.leftButtonIcon"}}></i>
    {{/if}}
    {{nav.leftButtonText}}
  </button>
{{/if}}

{{#if nav.titleText}}
  <h1>
    {{nav.titleText}}
  </h1>
{{/if}}

{{#if nav.rightButtonText}}
  <button {{action 'rightButton'}}>
    {{#if nav.rightButtonIcon}}
      <i {{bind-attr class=":icon nav.leftButtonIcon"}}></i>
    {{/if}}
    {{nav.rightButtonText}}
  </button>
{{/if}}
